.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: min(10%, 75px);
  padding-top: min(5%, 30px);
}

.icon {
  font-size: clamp(25px, 1.8em, 30px);
  transition: color 0.2s ease;
  color: #ffffff5d;
  padding: 10px;
}

.icon svg {
  transition: color 0.2s ease;
}

.icon svg:hover {
  color: var(--terciary-color);
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.left,
.right {
  margin: 0 auto;
  flex: 1;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.projectDesc {
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.tecList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 450px;
  margin: 0 auto;
  justify-content: center;
}

.tec {
  width: fit-content;
  height: 20px;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 4px -4px 12px rgba(0, 0, 0, 0.5), -4px 4px 12px rgba(0, 0, 0, 0.5);
  position: relative;
  color: var(--primary-color) !important;
  font-size: min(1.264rem, 15px);
}

.skill > svg {
  transition: color 0.2s ease;
}

.skill > img {
  height: min(1.264rem, 15px);
}
