.skillList{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1em;
          max-width: 450px;
          margin: 0 auto;
          justify-content: center;
}