.title{
          font-size: min(2rem, 25px);
          font-weight: 900;
          margin-bottom:  clamp(25px, 5%, 50px);
          position: relative;
          text-align: center;
          text-transform: uppercase;
}

.title::after{
          content: '';
          width: 1em;
          height: 2px;
          bottom: -.1em;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
}

 .title.light::after{
          background-color: var(--secondary-color) !important;
}

 .title.dark::after{
          background-color: var(--primary-color) !important;
}