:root{
    --primary-color: #191919;
    --secondary-color: #e9eaec;
    --terciary-color: #2E8BC0;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + .5vw);
    scroll-behavior: smooth;
}

body{
    width: max(100vw, 100vw);
    overflow-x: hidden !important;
    background-color: var(--primary-color);
}

p, button{
    font-size: min(1.264rem, 15px);
}

.dark{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.light{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

a.active{
    color: var(--secondary-color) !important     ;
}